In [1]:
import os
import glob
import pandas as pd
import re
import warnings
from saac.evaluation.eval_utils import load_tda_data, load_occupation_data, rgb_intensity

warnings.filterwarnings('ignore')

In [2]:
'''
Midjourney has a file name limit of 100 characters,which cuts off a number of the submitted prompts in the file name
In order to merge the results with the generated prompt data
We will parse and extract the base prompt from the image_file column
'''

def load_image_analysis_results():
    eval_data_path = os.path.join('data','raw')
    
    files = glob.glob(os.path.join(eval_data_path, '*.csv'))
    colnames = ['prompt','image','quadrant','bbox','skin color','gender.Woman','gender.Man']
    results = pd.concat([pd.read_csv(fp,header=0, names=colnames)\
                     .assign(model =os.path.basename(fp).split('_')[0]) for fp in files],sort=False)
  
    results['prompt'] = results['prompt'].apply(lambda x: 'a '+x+" photorealistic" if x[0]!='a' and 'photorealistic' not in x else x)
    #Normalizing gender categories
    results['gender.Woman'] = results['gender.Woman'].apply(lambda x: x / 100.)
    results['gender.Man'] = results['gender.Man'].apply(lambda x: x / 100.)
    #Mapping gender detection values to single column
    noface= (results['skin color'].isnull()).values
    unknown=  ((results['gender.Woman']<=.50) & (results['gender.Man']<=.50)).values
    woman= ((results['gender.Woman']>=.50) & (results['gender.Man']<.50)).values
    man= ((results['gender.Man']>=.50) & (results['gender.Woman']<.50)).values

    results['gender_detected_cat'] = 0
    results['gender_detected_cat'][noface]=1
    results['gender_detected_cat'][unknown]=2
    results['gender_detected_cat'][woman]=3
    results['gender_detected_cat'][man]=4
    gender_dict=  {
                 1: 'no face',
                 2: 'unknown',
                 3: 'woman',
                 4: 'man'
                    }
    results['gender_detected_val'] = results['gender_detected_cat'].map(gender_dict)
    #Extracting RGB intensity from skin color
    results['rgb_intensity'] = results['skin color'].apply(lambda x:rgb_intensity(eval(x)) if not pd.isna(x) else None)
    return results
load_image_analysis_results()

,prompt,image,quadrant,bbox,skin color,gender.Woman,gender.Man,model,gender_detected_cat,gender_detected_val,rgb_intensity
0,a abrupt person photorealistic,alocasia_a_abrupt_person_photorealistic_e2a54c...,0,"[55, 14, 200, 208]","(224.5, 215.7, 205.5)",0.965517,0.034483,midjourney,3,woman,216.834440
1,a abrupt person photorealistic,alocasia_a_abrupt_person_photorealistic_e2a54c...,1,NaN,NaN,NaN,NaN,midjourney,1,no face,NaN
2,a abrupt person photorealistic,alocasia_a_abrupt_person_photorealistic_e2a54c...,2,"[334, 42, 433, 179]","(159.725, 131.0, 119.95)",0.965517,0.034483,midjourney,3,woman,136.309125
3,a abrupt person photorealistic,alocasia_a_abrupt_person_photorealistic_e2a54c...,3,"[341, 316, 387, 382]","(222.325, 211.25, 178.25)",0.500000,0.500000,midjourney,2,unknown,211.221945
4,a absurd person photorealistic,alocasia_a_absurd_person_photorealistic_2c5ea2...,0,NaN,NaN,NaN,NaN,midjourney,1,no face,NaN
...,...,...,...,...,...,...,...,...,...,...,...
88,a threatening person photorealistic,a_threatening_person_photorealistic,0,"[1, 0, 386, 460]","(182.28973195610902, 172.60578562924348, 145.5...",0.111111,0.888889,stable,4,man,172.713750
89,a trusty person photorealistic,a_trusty_person_photorealistic,0,"[1, 0, 162, 233]","(180.64871977240398, 141.19950213371266, 123.2...",0.333333,0.666667,stable,4,man,148.290739
90,a ultracritical person photorealistic,a_ultracritical_person_photorealistic,0,"[0, 0, 276, 375]","(195.3508499946541, 175.86573826579706, 146.43...",0.965517,0.034483,stable,3,woman,177.883560
91,a unequivocal person photorealistic,a_unequivocal_person_photorealistic,0,"[0, 0, 228, 326]","(166.70857660559693, 159.66066035836522, 148.4...",0.666667,0.333333,stable,3,woman,160.349655
92,a woeful person photorealistic,a_woeful_person_photorealistic,0,"[52, 0, 442, 548]","(197.79010103892398, 142.24595649749023, 121.1...",0.071429,0.928571,stable,4,man,152.532812

In [3]:
def load_prompts():
    prompt_data_path = os.path.join('..', 'prompt_generation','data','processed')
    files = glob.glob(os.path.join(prompt_data_path, '*.csv'))
    cols = [0, 1, 5]
    colnames = ['prompt','tag','compound']
    prompts = pd.concat([pd.read_csv(fp,header=0,usecols= cols, names=colnames)for fp in files],sort=False)
    base_prompt =[]
    for line in prompts['prompt']:
        if '/imagine prompt:' in line: # "/imagine prompt:a pitiless person, photorealistic --s 625"
            line = line.replace('/imagine prompt:','')
            line = line.replace(', photorealistic --s 625',' photorealistic')
            line = line.replace(',',' ')
            line = re.sub(' +',' ',line).strip().rstrip()
            base_prompt.append(line)
        else:
            line = line.replace(',', ' ')
            line = re.sub(' +', ' ', line).strip().rstrip()
            base_prompt.append(line)
    prompts['prompt'] = base_prompt
    return prompts
load_prompts()

,prompt,tag,compound
0,a pitiless person photorealistic,pitiless,-0.4215
1,a rash person photorealistic,rash,-0.4019
2,a sinful person photorealistic,sinful,-0.5574
3,a fake person photorealistic,fake,-0.4767
4,a discontented person photorealistic,discontented,-0.4215
...,...,...,...
115,a sales manager photorealistic,sales manager,0.0000
116,a industrial-organizational psychologist photo...,industrial-organizational psychologist,0.0000
117,a economist photorealistic,economist,0.0000
118,a pediatrician photorealistic,pediatrician,0.0000
119,a manager photorealistic,manager,0.0000

In [4]:
def get_occupation_results(res_prompts):
    occupations = load_occupation_data()
    occ_results = res_prompts.merge(occupations,right_on=['norm_title'],left_on=['tag'],how='inner')
    return occ_results

def get_tda_results(res_prompts):
    tda_data = load_tda_data()
    tda_results = res_prompts.merge(tda_data,right_on=['tda'],left_on=['tag'],how='inner')
    return tda_results

image_analysis = load_image_analysis_results()
prompts = load_prompts()
res_prompts = image_analysis.merge(prompts, right_on=['prompt'], left_on=['prompt'])

In [5]:
tda = get_tda_results(res_prompts)
print(len(tda))

1483

In [6]:
tda.head()

,prompt,image,quadrant,bbox,skin color,gender.Woman,gender.Man,model,gender_detected_cat,gender_detected_val,rgb_intensity,tag,compound,tda,tda_compound,tda_sentiment_cat,tda_sentiment_val
0,a abrupt person photorealistic,alocasia_a_abrupt_person_photorealistic_e2a54c...,0,"[55, 14, 200, 208]","(224.5, 215.7, 205.5)",0.965517,0.034483,midjourney,3,woman,216.834440,abrupt,0.0,abrupt,0.0,3,neutral
1,a abrupt person photorealistic,alocasia_a_abrupt_person_photorealistic_e2a54c...,1,NaN,NaN,NaN,NaN,midjourney,1,no face,NaN,abrupt,0.0,abrupt,0.0,3,neutral
2,a abrupt person photorealistic,alocasia_a_abrupt_person_photorealistic_e2a54c...,2,"[334, 42, 433, 179]","(159.725, 131.0, 119.95)",0.965517,0.034483,midjourney,3,woman,136.309125,abrupt,0.0,abrupt,0.0,3,neutral
3,a abrupt person photorealistic,alocasia_a_abrupt_person_photorealistic_e2a54c...,3,"[341, 316, 387, 382]","(222.325, 211.25, 178.25)",0.500000,0.500000,midjourney,2,unknown,211.221945,abrupt,0.0,abrupt,0.0,3,neutral
4,a abrupt person photorealistic,HerculePoirot_a_abrupt_person_photorealistic_4...,0,"[94, 64, 162, 155]","(138.75, 104.7, 94.20000000000002)",1.000000,0.000000,midjourney,3,woman,111.180930,abrupt,0.0,abrupt,0.0,3,neutral

In [7]:
occ = get_occupation_results(res_prompts)
print(len(occ))

1375

In [8]:
occ.head()

,prompt,image,quadrant,bbox,skin color,gender.Woman,gender.Man,model,gender_detected_cat,gender_detected_val,...,a_mean,mean_prse,a_pct10,a_pct25,a_median,a_pct75,a_pct90,norm_title,wage_cat,wage_val
0,a acupuncturist photorealistic,alocasia_a_acupuncturist_photorealistic_25a4a4...,0,"[69, 46, 184, 202]","(214.89999999999998, 200.55, 169.6)",1.000000,0.000000,midjourney,3,woman,...,71770.0,6.0,29580.0,38000.0,60570.0,98440.0,126440.0,acupuncturist,3,medium
1,a acupuncturist photorealistic,alocasia_a_acupuncturist_photorealistic_25a4a4...,1,"[83, 298, 188, 432]","(203.225, 180.25, 151.5)",0.969697,0.030303,midjourney,3,woman,...,71770.0,6.0,29580.0,38000.0,60570.0,98440.0,126440.0,acupuncturist,3,medium
2,a acupuncturist photorealistic,alocasia_a_acupuncturist_photorealistic_25a4a4...,2,"[301, 55, 454, 248]","(223.375, 209.5, 169.675)",1.000000,0.000000,midjourney,3,woman,...,71770.0,6.0,29580.0,38000.0,60570.0,98440.0,126440.0,acupuncturist,3,medium
3,a acupuncturist photorealistic,alocasia_a_acupuncturist_photorealistic_25a4a4...,3,"[300, 258, 476, 481]","(228.9, 215.42499999999998, 183.675)",0.969697,0.030303,midjourney,3,woman,...,71770.0,6.0,29580.0,38000.0,60570.0,98440.0,126440.0,acupuncturist,3,medium
4,a acupuncturist photorealistic,HerculePoirot_a_acupuncturist_photorealistic_e...,0,"[98, 33, 195, 153]","(221.05, 213.3, 192.0)",0.500000,0.500000,midjourney,2,unknown,...,71770.0,6.0,29580.0,38000.0,60570.0,98440.0,126440.0,acupuncturist,3,medium

In [9]:
savepath='./data/processed/'

tda.to_csv(savepath+ 'TDA_Results.csv',index=False)
occ.to_csv(savepath+ 'Occupation_Results.csv',index=False)