In [1]:
from saac.prompt_generation.prompt_utils import score_sentiment, generate_traits, generate_occupations
from saac.prompt_generation.prompts import mj_prompt
import pandas as pd

prompt_path = './data/processed/'

In [2]:
trait_samples = generate_traits()
trait_samples.head(10)

                 prompt          tag
0   an indignant person    indignant
1  a frightening person  frightening
2       a woeful person       woeful
3     an idiotic person      idiotic
4  a remorseless person  remorseless
5       a somber person       somber
6    an arrogant person     arrogant
7    a miserable person    miserable
8    an insecure person     insecure
9     a troubled person     troubled

In [3]:
occ_samples = generate_occupations()
occ_samples.head(10)

                           prompt                          tag
0             a funeral attendant            funeral attendant
1             a production worker            production worker
2   a food servers, nonrestaurant  food servers, nonrestaurant
3               a floral designer              floral designer
4                         a baker                        baker
5             an animal caretaker             animal caretaker
6            a cooks, short order           cooks, short order
7                a security guard               security guard
8             a recreation worker            recreation worker
9  an assistant production worker  assistant production worker

In [4]:
prompts_df = pd.concat([trait_samples, occ_samples])
print(prompts_df.head(5))
print(prompts_df.tail(5))

                 prompt          tag
0   an indignant person    indignant
1  a frightening person  frightening
2       a woeful person       woeful
3     an idiotic person      idiotic
4  a remorseless person  remorseless
                                       prompt  \
55  an industrial-organizational psychologist
56                        a pediatric surgeon
57                              a radiologist
58                             a pediatrician
59                                 an actuary

                                       tag
55  industrial-organizational psychologist
56                       pediatric surgeon
57                             radiologist
58                            pediatrician
59                                 actuary

In [5]:
prompts_dfv = score_sentiment(prompts_df,'prompt',verbose=True)

Estimating polarity scores for 120 cases.
Positive text count---14.899000000000001
Negative text count---14.087
Neutral text count---91.014

In [6]:
prompts_dfv['prompt'] = prompts_dfv ['prompt'].apply(mj_prompt)

prompts_dfv.head(10)

,prompt,tag,neg,neu,pos,compound
0,/imagine prompt:an indignant person photoreali...,indignant,0.583,0.417,0.0,-0.4215
1,/imagine prompt:a frightening person photoreal...,frightening,0.615,0.385,0.0,-0.4939
2,/imagine prompt:a woeful person photorealistic...,woeful,0.592,0.408,0.0,-0.4404
3,/imagine prompt:an idiotic person photorealist...,idiotic,0.643,0.357,0.0,-0.5574
4,/imagine prompt:a remorseless person photoreal...,remorseless,0.623,0.377,0.0,-0.5106
5,/imagine prompt:a somber person photorealistic...,somber,0.583,0.417,0.0,-0.4215
6,/imagine prompt:an arrogant person photorealis...,arrogant,0.615,0.385,0.0,-0.4939
7,/imagine prompt:a miserable person photorealis...,miserable,0.615,0.385,0.0,-0.4939
8,/imagine prompt:an insecure person photorealis...,insecure,0.583,0.417,0.0,-0.4215
9,/imagine prompt:a troubled person photorealist...,troubled,0.600,0.400,0.0,-0.4588

In [7]:
prompts_dfv.to_csv(prompt_path + 'example_generated_mj_prompts.csv',index=False)