In [1]:
from saac.prompt_utils import score_sentiment, generate_traits, generate_occupations
from saac.prompts import mj_prompt
import pandas as pd

prompt_path = '../../data/prompt_generation/processed/'

In [2]:
trait_samples = generate_traits()
trait_samples.head(10)

                  prompt          tag
0  an exasperated person  exasperated
1          a weak person         weak
2    a melancholy person   melancholy
3  an incompetent person  incompetent
4        an awful person        awful
5       an insane person       insane
6       a fearful person      fearful
7         a scary person        scary
8          a fake person         fake
9   an ungrateful person   ungrateful

In [3]:
occ_samples = generate_occupations()
occ_samples.head(10)

                           prompt                          tag
0             a parts salesperson            parts salesperson
1    an occupational therapy aide    occupational therapy aide
2               a floral designer              floral designer
3               an animal trainer               animal trainer
4                    a dishwasher                   dishwasher
5          a gambling cage worker         gambling cage worker
6           a dietetic technician          dietetic technician
7            a retail salesperson           retail salesperson
8  an assistant production worker  assistant production worker
9            a school bus monitor           school bus monitor

In [4]:
prompts_df = pd.concat([trait_samples, occ_samples])
print(prompts_df.head(5))
print(prompts_df.tail(5))

                  prompt          tag
0  an exasperated person  exasperated
1          a weak person         weak
2    a melancholy person   melancholy
3  an incompetent person  incompetent
4        an awful person        awful
                                       prompt  \
55  an industrial-organizational psychologist
56                       a purchasing manager
57                                  a manager
58                            a dermatologist
59                              a neurologist

                                       tag
55  industrial-organizational psychologist
56                      purchasing manager
57                                 manager
58                           dermatologist
59                             neurologist

In [5]:
prompts_dfv = score_sentiment(prompts_df,'prompt',verbose=True)

Estimating polarity scores for 120 cases.
Positive text count---14.498000000000001
Negative text count---13.195999999999998
Neutral text count---92.30600000000001

In [6]:
prompts_dfv['prompt'] = prompts_dfv ['prompt'].apply(mj_prompt)

prompts_dfv.head(10)

,prompt,tag,neg,neu,pos,compound
0,/imagine prompt:an exasperated person photorea...,exasperated,0.583,0.417,0.0,-0.4215
1,/imagine prompt:a weak person photorealistic -...,weak,0.592,0.408,0.0,-0.4404
2,/imagine prompt:a melancholy person photoreali...,melancholy,0.592,0.408,0.0,-0.4404
3,/imagine prompt:an incompetent person photorea...,incompetent,0.608,0.392,0.0,-0.4767
4,/imagine prompt:an awful person photorealistic...,awful,0.600,0.400,0.0,-0.4588
5,/imagine prompt:an insane person photorealisti...,insane,0.574,0.426,0.0,-0.4019
6,/imagine prompt:a fearful person photorealisti...,fearful,0.615,0.385,0.0,-0.4939
7,/imagine prompt:a scary person photorealistic ...,scary,0.615,0.385,0.0,-0.4939
8,/imagine prompt:a fake person photorealistic -...,fake,0.608,0.392,0.0,-0.4767
9,/imagine prompt:an ungrateful person photoreal...,ungrateful,0.600,0.400,0.0,-0.4588

In [7]:
prompts_dfv.to_csv(prompt_path + 'example_generated_mj_prompts.csv',index=False)